{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Les 3 derniers films</h1>
        <h2>Ici s'afficheront les 3 dernières sorties de films ou séries s'il y'en a d'enregistré !</h2>
        <div class="row">
            {% for film in films|slice(0, 3) %}
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                        <ul>
                            <li><h5 class="card-title">{{ film.nom }}</h5></li>
                        </ul>
                            <p class="card-text">Date de sortie: {{ film.date|date('d-m-Y') }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
